{% extends "base.html" %}
{% load crispy_forms_tags %}
<!-- crispy_forms is a library that has css for modern looking forms -->
{% block content %}
<head>
    <title>Sign Up</title>
</head>
<body>
        <!-- The content half -->
        <div class="bg-light">
            <div class="login d-flex align-items-center py-5">


                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Register</h3>
                            <p class="text-muted mb-4">Please enter your details:</p>
                            <form action="" method="POST">
                            {% csrf_token %}
                                <table>
                                    {{ form|crispy }} <!-- Formats form with crispy_forms library-->
                                </table>
                                <br>
                                <input type="submit" class="btn btn-primary btn-block mb-2 rounded-pill shadow-sm" name="register" value="Sign Up" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock%}
