{% extends "base.html" %}

{% block content %}

<div class = "container">
  <a href='{% url "logout-view" %}'>Logout</a>
Welcome,User
{{userdetail.username}}
<br/>
Asked Questions.
<br/>
{% for q in questions%}
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{q.title}}</h5>
        <p class="card-text">{{q.description}}</p>
        <p class="card-text"><small class="text-muted">{{q.group}}</small></p>
        <p class="card-text"><small class="text-muted">{{q.created_on}}</small></p>
        <p class="card-text"><small class="text-muted">{{q.updated_on}}</small></p>
        <a href="{% url 'questions_page' q.slug%}" class="btn btn-success">Go to {{q.title}}</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
  </div>
{% endblock %}